body {
  background-color: #ff8e00;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

}

#rectangulo {
  width: auto;
  height: 550px;
  background-color: rgb(0, 0, 0);
  margin: 5%;
  border-radius: 50px;
  border: #262525;
  color: aliceblue;

}

#rectangulo2 {
  width: auto;
  height: auto;
  background-color: rgb(0, 0, 0);
  margin: 5%;
  border-radius: 50px;
  border: #262525;
  color: aliceblue;
}

.titulo {
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  text-align: center;
  font-size: 250%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.butons {
  background-color: #ff8e00;
  width: 200px;
  color: #ffffff;
  border-radius: 10px;
}

.jugador {
  text-align: left;
  background-color: aliceblue;
  width: 310px;
  height: auto;
  border-radius: 10px;
  color: black;
}

.nombre-jugador {
  display: flex;
  font-weight: bold;
  font-size: 23px;
  margin-left: 25px;
  margin-top: -15px;
  margin-bottom: -5px;
}


.imgs {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-left: 15px;
}

.trofeos {
  margin-left: 10px;
}

.margin {
  margin-left: 15px;
  text-align: left;
}

.header {
  background-color: orange;
  color: aliceblue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: -22px;
}

.h1 {
  margin-left: 20px;
  position: relative;
  bottom: 3px;
  text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.container2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.container3 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.container4 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.h1-aldea-main {
  margin-left: 5px;
  position: relative;
  bottom: 3px;
  text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  margin-bottom: 2px;
}

.imgs-aldeas {
  margin-top: 10px;
  margin-bottom: 10px;
}

.txts-aldeas {
  margin-top: 29px;
  margin-bottom: 46px;
}

.txts-aldeas {
  margin-top: 29px;
  margin-bottom: 46px;
}

.txts-participacion {
  margin-top: 23px;
  margin-bottom: 37px;
  margin-left: -18px;
}

.h1-aldea-nocturna {
  margin-left: 3px;
  position: relative;
  bottom: 3px;
  text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  margin-bottom: 2px;
}

.h1-clan {
  margin-left: 3px;
  position: relative;
  bottom: 3px;
  text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  font-size: 30px;
  margin-bottom: 0px;
}

.h1-recursos {
  margin-left: 5px;
  position: relative;
  bottom: 3px;
  text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  margin-bottom: 2px;
  font-size: 30px;
}

.texto {
  text-align: center;
  text-size-adjust: 50px;
}

.bienvenida {
  font-size: 130%;
  margin-left: 100px;
  margin-right: 100px;
}

.cosas-destruidas {
  text-align: left;
  background-color: white;
  width: 1000px;
  height: auto;
  border-radius: 10px;
  color: black;
}

.h1-destruidas {
  text-align: center;
  text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  margin-bottom: 2px;
  font-size: 30px;
}

.grilla-destruidas {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  margin-top: 6px;
}

.fila {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item {
  width: calc(25% - 10px);
  text-align: center;
  color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 5px;
  background-color: orange;
  border-radius: 5px;
}

/*ajustes para ultima fila */
.fila:last-child {
  justify-content: center;
}

.ejercito {
  text-align: left;
  background-color: aliceblue;
  width: 1000px;
  height: auto;
  border-radius: 10px;
  color: black;
}

.h1-tropas {
  text-align: center;
  text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  margin-bottom: 2px;
  font-size: 30px;
}

.btns {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.txt-clan {
  margin-top: 30px;
  margin-left: 15px;
  text-align: left;
}

#ejercito-principal {
  margin-left: 2px;
  margin-right: 2px;
}

.hechizos {
  margin-top: 8px;
}

.heroes {
  margin-top: 8px;
}

.mascotas {
  margin-top: 8px;
}

.maquinas {
  margin-top: 8px;
}

.txts-recursos {
  margin-top: 24445px;
  margin-bottom: 25px;
}

.desarolladores {
  display: flex;
  justify-content: center;

}

.button {
  background-color: #ff8e00;
  width: 180px;
  color: #ffffff;
  height: 30px;
  border-radius: 10px;
}

.mimi {
  width: 150px;
  height: 12px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  text-align: center;
}

.input-container input::placeholder {
  color: #999;
}

.troop-container {
  position: relative;
  display: inline-block;
}

.troop-level {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  padding: 2px 5px; 
  font-size: 12px;
  border-radius: 5px;
  border: 2px solid white;
}
